* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes moveUp {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 20px;
    opacity: 1;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.dock {
  scale: 0.9;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 18px;
  padding: 14px 22px;
  background: rgba(102, 100, 100, 0.25);
  border-radius: 18px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 1000;
  animation: moveUp 1s linear;
  .dock-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .label {
      position: absolute;
      bottom: 78px;
      padding: 6px 12px;
      font-size: 13px;
      color: #fff;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 8px;
      opacity: 0;
      transform: translateY(10px);
      pointer-events: none;
      transition: all 0.25s ease;
      white-space: nowrap;
      margin-bottom: 30px;
      font-family: Arial, Helvetica, sans-serif;
    }

    &:hover .label {
      opacity: 1;
      //transform: translateY(0);
    }

    .icon {
      width: 52px;
      height: 52px;
      padding: 8px;
      border-radius: 14px;
      cursor: pointer;
      transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1),
        box-shadow 0.35s ease;
    }

    &:hover .icon {
      transform: scale(1.3) translateY(-18px);
      box-shadow: 0 16px 30px rgba(0, 0, 0, 0.35);
    }

    &:hover + .dock-item .icon {
      transform: scale(1.1) translateY(-15px);
    }

    &:has(+ .dock-item:hover) .icon {
      transform: scale(1.1) translateY(-15px);
    }
  }

  .calendar-icon {
    background: linear-gradient(135deg, #667eea, #764ba2);
  }
  .cli-icon {
    background: linear-gradient(135deg, #2c3e50, #34495e);
  }
  .github-icon {
    background: linear-gradient(135deg, #24292e, #1a1e22);
  }
  .link-icon {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
  }
  .mail-icon {
    background: linear-gradient(135deg, #f093fb, #f5576c);
  }
  .note-icon {
    background: linear-gradient(135deg, #ffd89b, #19547b);
  }
  .pdf-icon {
    background: linear-gradient(135deg, #ff0844, #ffb199);
  }
  .spotify-icon {
    background: linear-gradient(135deg, #1db954, #1ed760);
  }
}
