*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

@keyframes moveDown{
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

html,body{
    width: 100%;
    height: 100%;

    .nav{
        background-color: rgba(0, 0, 0, 0.296);
        width: 100%;
        display: flex;
        padding: 10px 20px;
        justify-content: space-between;
        animation: moveDown 1s linear;
        .content1{
            display: flex;
            gap: 14px;
            color: white;
            align-items: center;
            outline: none;
            i{
                font-size: 14px;
            } 
            .name{
                font-weight: 500;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 14px;
                pointer-events: none;
            }

            h4{
                font-weight: 500;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 14px;
                cursor: pointer;
                &:active{
                    scale: 0.98;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
            a{
                font-weight: 500;
                text-decoration: none;
                color: white;
                font-size: 14px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                &:hover{
                    text-decoration: underline;
                }
            }  
        }

        .content2{
            color: white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            i{
                font-size: 12px;
                font-weight: 500;
                margin-right: 5px;
            }
            h4{
                font-size: 14px;
                font-weight: 500;
            }
            h5{
                margin-left: 10px;
                font-weight: 500;
            }
        }
    }
}