.window{
    overflow: hidden;
        .main-content{
        width: 100%;
        height: 100%;
        overflow: hidden;
        .resume{
        height: 100%;
        overflow: hidden;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
    }
}
